.card-text-info {
  color: rgb(135, 135, 135);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}
.bottom-text-info {
  color: rgb(135, 135, 135);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
}
